<div class="body">
    <div class="main-wrapper">
    
        <app-header></app-header>
    <section class="page_header">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
    <h2 class="text-uppercase">Your Orders</h2>
    <p>Your recent orders, shipping &amp; delivery addresses</p>
    </div>
    </div>
    </div>
    </section>
    
    <section class="shop-content">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <h3>Recent Orders</h3>
    <br>
    <table class="cart-table account-table table table-bordered">
    <thead>
    <tr>
    <th>Order</th>
    <th>Date</th>
    <th>Status</th>
    <th>Total</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>
    900
    </td>
    <td>
    June 15, 2015
    </td>
    <td>
    Delivered
    </td>
    <td>
    &pound;173 for 4 items
    </td>
    <td>
    <a href="shop_single_full.html">View</a>
    </td>
    </tr>
    <tr>
    <td>
    873
    </td>
    <td>
    June 02, 2015
    </td>
    <td>
    Delivered
    </td>
    <td>
    &pound;55 for 2 items
    </td>
    <td>
    <a href="shop_single_full.html">View</a>
    </td>
    </tr>
    <tr>
    <td>
    629
    </td>
    <td>
    March 23, 2015
     </td>
    <td>
    Delivered
    </td>
    <td>
    &pound;599 for 14 items
    </td>
    <td>
    <a href="shop_single_full.html">View</a>
    </td>
    </tr>
    </tbody>
    </table>
    <br>
    <br>
    <br>
    <div class="ma-address">
    <h3 class="text-left">My Addresses</h3>
    <p>The following addresses will be used on the checkout page by default.</p>
    <div class="row">
    <div class="col-md-6">
    <h4>Billing Address <a href="index.html">Edit</a></h4>
    <p>
    Ranveer Singh
    <br> spyropress
    <br> karachi
    <br> karachi
    <br> TR05
    <br> 342343
    <br> Swaziland
    </p>
    </div>
    <div class="col-md-6">
    <h4>Shipping Address <a href="index.html">Edit</a></h4>
    <p>
    Ranveer Singh
    <br> spyropress
    <br> karachi
    <br> karachi
    <br> TR05
    <br> 342343
    <br> Swaziland
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    <section class="subscribe">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <h1>Subscribe</h1>
    <p>Get updates about new dishes and upcoming events</p>
    <form class="form-inline" action="https://demo.web3canvas.com/themeforest/tomato/php/subscribe.php" id="invite" method="POST">
    <div class="form-group">
    <input class="e-mail form-control" name="email" id="address" type="email" placeholder="Your Email Address" required>
    </div>
    <button type="submit" class="btn btn-default">
    <i class="fa fa-angle-right"></i>
    </button>
    </form>
    </div>
    </div>
    </div>
    </section>
    
    <section class="footer">
    <div class="container">
    <div class="row">
    <div class="col-md-4 col-sm-12">
    <h1>About us</h1>
    <p>Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc.Duis leo justo, condimentum at purus eu, posuere pretium tellus.</p>
    <a href="about.html">Read more &rarr;</a>
    </div>
    <div class="col-md-4  col-sm-6">
    <h1>Recent post</h1>
    <div class="footer-blog clearfix">
    <a href="blog_right_sidebar.html">
    <img src="assets/img/thumb8.png" class="img-responsive footer-photo" alt="blog photos">
    <p class="footer-blog-text">Hand picked ingredients for our best customers</p>
    <p class="footer-blog-date">29 may 2015</p>
    </a>
    </div>
    <div class="footer-blog clearfix last">
    <a href="blog_right_sidebar.html">
    <img src="assets/img/thumb9.png" class="img-responsive footer-photo" alt="blog photos">
    <p class="footer-blog-text">Daily special foods that you will going to love</p>
    <p class="footer-blog-date">29 may 2015</p>
    </a>
    </div>
    </div>
    <div class="col-md-4  col-sm-6">
    <h1>Reach us</h1>
    <div class="footer-social-icons">
    <a href="https://www.facebook.com/">
    <i class="fa fa-facebook-square"></i>
    </a>
    <a href="https://www.twitter.com/">
    <i class="fa fa-twitter"></i>
    </a>
    <a href="https://plus.google.com/">
    <i class="fa fa-google"></i>
    </a>
    <a href="https://www.youtube.com/">
    <i class="fa fa-youtube-play"></i>
    </a>
    <a href="https://www.vimeo.com/">
    <i class="fa fa-vimeo"></i>
    </a>
    <a href="https://www.pinterest.com/">
    <i class="fa fa-pinterest-p"></i>
    </a>
    <a href="http://www.linkedin.com/">
    <i class="fa fa-linkedin"></i>
    </a>
    </div>
    <div class="footer-address">
    <p><i class="fa fa-map-marker"></i>28 Seventh Avenue, Neew York, 10014</p>
    <p><i class="fa fa-phone"></i>Phone: (415) 124-5678</p>
    <p><i class="fa fa-envelope-o"></i><a href="https://demo.web3canvas.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d9aaaca9a9b6abad99abbcaaadb8acabb8b7adf7bab6b4">[email&#160;protected]</a></p>
    </div>
    </div>
    </div>
    </div>
    
    <div class="footer-copyrights">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <p><i class="fa fa-copyright"></i> 2015.Tomato.All rights reserved. Designed with <i class="fa fa-heart primary-color"></i> by Surjithctly</p>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>
    </div>
